﻿
@{

 
}
<link href="~/css/Ingreso.css" rel="stylesheet" />


<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item text-center"> <a class="nav-link active btl" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Ingresar</a> </li>
            <li class="nav-item text-center"> <a class="nav-link btr" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Registrar</a> </li>
        </ul>


        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <form  action="/Autenticacion/Ingreso" method="post"  style="height: 350px;" class="px-4 pt-5 " >
                <input type="text" name="usuario" class="form-control" placeholder="Usuario"> 
                <input type="text" name="clave" class="form-control" placeholder="Contraseña">

                <div><span class="text-danger" > @Html.ValidationMessage("Mensaje")</span></div>
                <button  type="submit" class="btn btn-dark btn-block">Login</button> 
               </form>
            </div>


            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                <form class="px-4 " action="/Autenticacion/Registro" method="post">

                    <input type="text" name="nombre" class="form-control" placeholder="Nombre">
                    <div><span class="text-danger"> @Html.ValidationMessage("nombre")</span></div>
                    <input type="text" name="edad" class="form-control" placeholder="Edad">
                    <div><span class="text-danger"> @Html.ValidationMessage("edad")</span></div>
                    <input type="text" name="usuario" class="form-control" placeholder="Usuario">
                    <div><span class="text-danger"> @Html.ValidationMessage("usuario")</span></div>
                    <input type="text" name="clave" class="form-control" placeholder="Contraseña">
                    <div><span class="text-danger"> @Html.ValidationMessage("clave")</span></div>
                    <button type="submit" class="btn btn-dark btn-block">SignUp</button>
                </form>

            </div>
        </div>
    </div>
</div>