﻿
@{
}


<div class="row d-flex">
    <div class="col-6 justify-content-center" >
        <form method="post" action="/Home/CrearRutina">
            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre de su rutina</label>
                <input name="nombre" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
            </div>
            @Html.ValidationMessage("nombre")
            <div class="form-group">
                <label for="tipoRutina">Tipo de Rutina</label>
                <select name="nivelRutina" class="form-control" id="tipoRutina">
                    <option value="Principiante">Principiante</option>
                    <option value="Intermedio">Intermedio</option>
                    <option value="Avanzado">Avanzado</option>

                </select>
            </div>
            <button type="submit" class="btn btn-danger">Crear</button>
        </form>
    </div>
</div>

