﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">


    
    <div class="col-12">
        <h1>BIENVENIDO AL GIMNASIO VIRTUAL !</h1>
    </div>

    <div class="col-12 d-inline-flex mt-5 " >
        <ul class="col-4 " style="place-self: center;">

            <li class="p-4" > <a href="~/Home/CrearRutina" class="btn btn-success" role="button" aria-pressed="true">Crear rutina</a>  </li>
            <li class="p-4"> <a href="~/Home/MisRutinas" class="btn btn-warning" role="button" aria-pressed="true">Ver mis rutinas</a>  </li>
        </ul>
       

        <div class="col-8">

            <img class="rounded-circle" alt="EJERCICIO" src="https://image.freepik.com/vector-gratis/gente-haciendo-ejercicio_18591-36152.jpg" width="700" height="400" >
        </div>
       

    </div>

</div>