﻿
@{
    int i;
 
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<div>
    <h1> <i class="bi bi-lightning-charge-fill" style="color:yellow"></i> MIS RUTINAS <i class="bi bi-lightning-charge-fill"></i></h1>
</div>

<div class="mt-4" id="accordion">



    @foreach (Rutina rutina in Model.rutinas)
    {

        i = 1;
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link text-capitalize" style="font-family: fantasy;font-size:20px" data-toggle="collapse" data-target="#collapse-@rutina.id" aria-expanded="true" aria-controls="collapseOne">
                        @rutina.nombre
                    </button>
                </h5>
            </div>



            <div id="collapse-@rutina.id" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

                @foreach (EjercicioRutina er in rutina.ejericioRutinas)
                {
                    <div class="card mb-8" style="max-width: 500px;">
                        <div class="row no-gutters">
                            <div class="col-sm-1 text-center text-danger" >

                                <h6>@i.</h6>
                                @{i++;}
                            </div>

                            <div class="col-md-7">
                                <div class="card-body">
                                    <h3 class="card-title" style=" text-align: center;">@er.ejercicio.nombre</h3>

                                    <p class="card-text"><h5 class="text-muted" style="text-align: center; padding: 8px;">@er.tiempo Segundos</h5></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <iframe width="250" height="150" src=@er.ejercicio.video >
                                </iframe>
                            </div>



                        </div>
                    </div>
                }



            </div>
        </div>
        
    }


</div>